:root {
    --main-color: rgb(4, 136, 136);
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #33393f;
    color: white;
    width: 100vw;
}



a {
    text-decoration: none;
    color: white;
}

footer {
    display: flex;

    
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    width: 99;
    padding: 15px;
    

}

.name-section {
    display: flex;
    text-align: center;
    align-items: center;
}

.profile-pic {
    width: 70px;
    border-radius: 50%;
    padding: 15px;
}

.header {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    background-color: var(--main-color);
    height: 60px;
    align-items: center;
    padding: 15px;
    
}

.about-me-section {
    text-align: center;
    padding: 50px 100px 100px 100px;
    font-size: 24px;
}


.list-group{
    display: flex;
}

.list-item {
    list-style: none;
    margin-right: 10px;
}

.mid-section {
    min-height: 82.5vh;
    margin: 0 0 50px 0;
}

.mid-section-title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 50px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.css-card {
    display: flex;
    flex: 1 1 345px;
    flex-basis: 30%;
    flex-direction: column;
    position: relative;
    border: solid 2px lightgrey;
    border-radius: 3px;
    height: 250px;
    margin: 15px;
    width: 200px;
    text-align: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
}

#first-project {
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%), url("https://c1.wallpaperflare.com/preview/65/35/698/blur-close-up-code-computer.jpg");
    flex-grow: 5;
    height: 350px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}



.css-card > .card-header {
    position: absolute;
    width: 60%;
    left: 20%;
    top: -1em;
    font-size: 20px;
    border: solid 2px lightgrey;
    z-index: 1;
    background-color: #333940;
    border-radius: 5px;
    text-align: center;

}

.css-card > p {
    padding: 10px;
}

.list-item-footer {
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

@media screen and (max-width: 746px) {
    .name-section {
        font-size: 10px;
    }
    .profile-pic {
        width: 50px;
    }
    .css-card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 640px) {
    .header{
        padding: 2px;
    }
    .css-card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 480px) {
    
    .header{
        padding: 1px;
    }
    .list-group {
        font-size: 9px;
    }
    .css-card {
        flex-basis: 50%;
    }
}